<div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}">
  {% if section.settings.has_fullwidth == false %}
    <div class="container">
  {% endif %}
  {% if section.settings.has_fullwidth == true %}
    <div class="bl_tt">
  {% endif %}
  <div class="row align-items-center mb-50">
    {% if section.settings.title != blank %}
      <div class="title_block mb-0{% if section.settings.btn != blank %} col-md-6{% else %} col-md-12{% endif %}">
        {% if section.settings.subheading != blank %}
        <span class="sub_title">{{ section.settings.subheading | escape }}</span>
        {% endif %}
        <span>{{ section.settings.title }}</span>
      </div>
    {% endif %}
    {% if section.settings.btn != blank %}
      <div class="col-md-6 text-md-right mt-sm-30"><a href="{{ section.settings.l_btn }}" class="btn">{{ section.settings.btn }}</a></div>
    {% endif %}
  </div>
  {% if section.settings.has_fullwidth == true %}
    </div>
  {% endif %}
  <div class="block_section">
    <div class="block_scroll">
      <div class="DragScroll d-flex">
       {% for block in section.blocks %}
        <div class="item{% if block.settings.class_text != blank %} {{ block.settings.class_text }}{% endif %}">
          <div class="bl_img nov-sh-image-2 position-relative">
            <div class="position-relative image">
              <div class="respone_image" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
                {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img class="article__list-image lazyload"
                  src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="">
              </div>
            </div>
            {% if block.settings.btn_t != blank %}
              <a href="{{ block.settings.btn }}" class="btn btn-2">{{ block.settings.btn_t }}</a>
            {% endif %}
          </div>
          {% if block.settings.title != blank %}
            {% if block.settings.title_l != blank %}
              <a href="{{ block.settings.title }}" class="title">{{ block.settings.title }}</a>
            {% else %}
              <div class="title">{{ block.settings.title }}</div>
            {% endif %}
          {% endif %}
          {% if block.settings.subtitle != blank %}
            <div class="sub_title mt-5">{{ block.settings.subtitle }}</div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% if section.settings.has_fullwidth == false %}
    </div>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Vinova Link To Collection",
    "class": "index-section section_link_to_collection wow fadeInUp animated",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Vinova link to collection"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub heading",
        "default": "Subtitle from happy customers"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Button label",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "l_btn",
        "label": "Button link"
      },
      {
        "type":  "header",
        "content": "Design option"
      },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full width",
        "default":   false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top spacing section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom spacing section",
        "default": "30px"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "text-left",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-center",
                "label": "Center"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "title_l",
            "label": "Title link"
          },
          {
            "type": "richtext",
            "id": "subtitle",
            "label": "Sub title"
          },
          {
            "type": "text",
            "id": "btn_t",
            "label": "Button text"
          },
          {
            "type": "url",
            "id": "btn",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "class_text",
            "label": "Class"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Link To Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
{%- assign bg_image = section.settings.background_image -%}
<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
    {% if bg_image.src != blank %}
      background-image: url("{{ bg_image | img_url: '1920x' }}");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    {% endif %}
  }
</style>