<div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}" style="padding-top: {{ section.settings.distance_top }}; padding-bottom: {{ section.settings.distance_bottom }}">
  <div class="page-width">
    {% if section.settings.full_width == false %}
    <div class="container">
    {% endif %}
      {% if section.settings.icon_newsletter != blank %}
        <div class="image_newletter text-center">
          <img class="lazyload" data-src="{{ section.settings.icon_newsletter | img_url: '100x' }}" alt="Icon Newsletter">
        </div>
      {% endif %}
      <div class="block_title text-center">
        {% if section.settings.section_title != blank %}
          <div class="title-block" style="color: {{ section.settings.color_title }};"><span>{{ section.settings.section_title | escape }}</span></div>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <span class="sub_title" style="color: {{ section.settings.color_subheading }};">{{ section.settings.subheading | escape }}</span>
        {% endif %}
      </div>
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form--success text-center">{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
          <div class="password__input-group mt-35">
            <i class="zmdi zmdi-email"></i>
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email"
              name="contact[email]"
              id="Email_newsletter"
              class="input-group__field newsletter__input"
              value="{% if customer %}{{ customer.email }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}">
            <span class="input-group__btn">
              <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe_newsletter">
                <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </span>
          </div>
        {% endif %}
      {% endform %}
    {% if section.settings.full_width == false %}
    </div>
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Vinova Newsletter",
    "class": "index-section section-newsletter wow fadeInUp animated",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Color"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "color",
        "id": "color_subheading",
        "label": "Color"
      },
      {
        "type": "image_picker",
        "id": "icon_newsletter",
        "label": "Icon newsletter"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type":  "header",
        "content": "Design option"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top Distance Section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom Distance Section",
        "default": "30px"
      }
    ],
    "presets": [{
      "name": "Vinova Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
{%- assign bg_image = section.settings.background_image -%}
{% if section.settings.background_color != blank or bg_image.src != blank %}
  <style>
    #shopify-section-{{ section.id }} .distance {
      {% if section.settings.background_color != blank %}background-color: {{ section.settings.background_color }};{% endif %}
      {% if bg_image.src != blank %}background-image: url("{{ bg_image | img_url: '1920x1920' }}");background-position: center;background-repeat: no-repeat;margin-bottom: 72px;{% endif %}
    }
  </style>
{% endif %}
