<div class="headingfilter">
  <i class="zmdi zmdi-tune"></i>
  <span>{{ 'collections.filters.heading_filter' | t }}</span>
</div>
<div class="close-filter d-none"><i class="zmdi zmdi-close"></i></div>
<div class="list-filter-selected">
  <div class="filter-item_title align-items-center{% if noFilter %}{% endif %}">
    <a href="#" class="novClearAll"><i class="zmdi zmdi-delete"></i>{{ 'collections.filters.clear_all' | t }}</a>
  </div>
</div>
{% for block in section.blocks %}
  {% if block.type == 'block_banner' %}
    <div class="sidebar-block{% if block.settings.banner_class %} {{ block.settings.banner_class }}{% endif %}">
        {% if block.settings.banner_title != blank %}
        <div class="title-block">
          <span>{{ block.settings.banner_title }}</span>
        </div>
        {% endif %}
        {% if block.settings.banner_image != blank %}
          <div class="block__content"> 
            <img class="lazyload" data-src="{{ block.settings.banner_image | img_url: 'original' }}" alt="{% if block.settings.banner_title != blank %}{{ block.settings.banner_title }}{% else %}banner sidebar{% endif %}">
          </div>
        {% endif %}
    </div>
  {% endif %}

  {% if block.type == 'block_filter' %}
    <div id="novSidebarAjaxFilter" class="sidebar-block sidebar-block__{{ forloop.index }} {{ block.settings.banner_class }}">
      <div class="block__content">
        <div class="list-filter">

          {% if block.settings.filter_type == true %}
            <div class="filter-item filter-type">
              <div class="filter-item_title title-block">
                <i class="zmdi zmdi-format-subject"></i>
                <span>{{ 'collections.filters.filter_type' | t }}</span>
              </div>
              <div class="filter-item_content">
                <ul class="list-inline">
                  {% for product_type in collection.all_types %}
                    {% if product_type != blank %}
                      <li class="d-flex align-items-center" data-value="{{ product_type | handleize }}">
                        <span class="custom-checkbox"></span>
                        <span class="filter-option-value">{{ product_type | link_to_type }}</span>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% if block.settings.filter_vendor == true %}
            <div class="filter-item filter-vendor">
              <div class="filter-item_title title-block">
                <i class="zmdi zmdi-format-subject"></i>
                <span>{{ 'collections.filters.filter_vendor' | t }}</span>
              </div>
              <div class="filter-item_content">
                <ul class="list-inline">
                  {% for product_vendor in collection.all_vendors %}
                    {% if product_vendor != blank %}
                      <li class="d-flex align-items-center" data-value="{{ product_vendor | handleize }}">
                        <span class="custom-checkbox"></span>
                        <span class="filter-option-value">{{ product_vendor | link_to_vendor }}</span>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          
          {% if block.settings.filter_price == true %}
            <div class="filter-item filter-price">
              <div class="filter-item_title title-block">
                <i class="zmdi zmdi-format-subject"></i>
                <span>{{ 'collections.filters.filter_price' | t }}</span>
              </div>
              {% assign prices = block.settings.filter_price_value | split: ', ' %}
              <div class="filter-item_content">
                <ul class="list-inline">
                  {% for price in prices %}
                    <li class="d-flex align-items-center" data-value="{{ price | handleize }}">
                      <span class="custom-checkbox"></span>
                      <span class="filter-option-value">{{ price | link_to_type }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% if block.settings.filter_color == true %}
            <div class="filter-item filter-color">
              <div class="filter-item_title">
                <i class="zmdi zmdi-format-subject"></i>
                <span>{{ 'collections.filters.filter_color' | t }}</span>
              </div>
              {% assign colors = block.settings.filter_color_value | split: ', ' %}
              <div class="filter-item_content collapse show">
                <ul class="list-inline">
                  {% for color in colors %}
                  <li class="list-inline-item" data-value="{{ color | handleize }}">
                    <span class="custom-checkbox" style="background-color: {{ color | handleize }}"></span>
                    {% comment %}<span class="filter-option-value">{{ color }}</span>{% endcomment %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% if block.settings.filter_size == true %}
            <div class="filter-item filter-size">
              <div class="filter-item_title">
                <i class="zmdi zmdi-format-subject"></i>
                <span>{{ 'collections.filters.filter_size' | t }}</span>
              </div>
              {% assign sizes = block.settings.filter_size_value | split: ', ' %}
              <div class="filter-item_content collapse show">
                <ul class="list-inline">
                  {% for size in sizes %}
                  <li class="list-inline-item" data-value="{{ size | handleize }}">
                    <span class="filter-option-value">{{ size }}</span>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% if block.settings.filter_tags == true %}
            {% if current_tags == blank %}
              {% assign noFilter = true %}
            {% else %}
              {% assign noFilter = false %}
            {% endif %}
            <div class="filter-item filter-tags">
              <div class="filter-item_title title-block">
                <i class="zmdi zmdi-label"></i>
                <span>{{ 'collections.filters.filter_tags' | t }}</span>
              </div>
              <div class="filter-item_content collapse show">
                <ul class="list-unstyled d-flex align-items-center flex-wrap{% if collection.tags.size > 5 %} facet-hasscroll{% endif %}">
                  {% if block.settings.filter_size == true %}
                    {% assign data_sizes = block.settings.filter_size_value | split: ', ' %}
                  {% else %}
                    {% assign data_sizes = "XS,S,M,L,XL" | split: ',' %}
                  {% endif %}
                  {% if block.settings.filter_color == true %}
                    {% assign data_colors = block.settings.filter_color_value | split: ', ' %}
                  {% else %}
                    {% assign data_colors = "White,Black,Blue,Red,Green" | split: ',' %}
                  {% endif %}
                  {% assign excluded_tags = data_sizes | concat:data_colors %}
                  {% for tag in collection.tags %}
                  {% unless excluded_tags contains tag %}
                    {% assign tagCount = 0 %}
                    {% for product in collection.products %}
                      {% for productTag in product.tags %}
                        {% if productTag == tag %}
                           {% assign tagCount = tagCount | plus: 1 %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                    <li data-tag="{{ tag | handleize }}">
                      <span class="filter-option-value">{{ tag }}</span>
                    </li>
                  {% endunless %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Sidebar Collection",
    "settings": [

    ],
    "blocks": [
      {
        "type": "block_banner",
        "name": "Block Banner",
        "settings": [
          {
            "type": "text",
            "id": "banner_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "banner_class",
            "label": "Class"
          },
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner image"
          },
          {
            "id": "banner_link",
            "type": "url",
            "label": "Banner button link"
          }
        ]
      },
      {
        "type": "block_filter",
        "name": "Block Filter",
        "settings": [
          {
            "type": "text",
            "id": "block_class",
            "label": "Class"
          },
          {
            "type": "header",
            "content": "Content Filter",
            "info": "Content Filter"
          },
          {
            "type": "checkbox",
            "id": "filter_type",
            "label": "Filter Type",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "filter_vendor",
            "label": "Filter Vendor",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "filter_tags",
            "label": "Filter Product Tags",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "filter_size",
            "label": "Filter Product Size",
            "default": true
          },
          {
            "type": "text",
            "id": "filter_size_value",
            "label": "Value Size",
            "info": "Example: S, XS, M, L, XL",
            "default": "S, XS, M, L, XL"
          },
          {
            "type": "checkbox",
            "id": "filter_color",
            "label": "Filter Product Color",
            "default": true
          },
          {
            "type": "text",
            "id": "filter_color_value",
            "label": "Value Color",
            "info": "Example: Black, Blue, White, Red, Yellow",
            "default": "Black, Blue, White, Red, Yellow"
          },
          {
            "type": "checkbox",
            "id": "filter_price",
            "label": "Filter Product Price",
            "default": true
          },
          {
            "type": "text",
            "id": "filter_price_value",
            "label": "Value Price",
            "info": "Example: $10 - $100, $100 - $300, $300 - $500,",
            "default": "$10 - $20, $20 - $40, $40 - $60, $60 - $80"
          }
        ]
      }
    ]
  }
{% endschema %}