<div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}" data-section-id="{{ section.id }}" data-section-type="nov-slick">
  {% if section.settings.has_fullwidth == false %}
    <div class="container">
  {% else %}
    <div class="container-fluid">
  {% endif %}
    <div class="block_content d-flex align-items-center">
    {% if section.settings.s_nav %}
      <div class="bl_nav_cust d-none d-md-block">
        <div class="prev_custom">{% include 'arrow-left' %}</div>
      </div>
    {% endif %}
      {% if section.blocks.size > 0 %}
        <div class="nov-slick-carousel" 
          data-autoplay="{{ section.settings.auto }}" 
          data-autoplaytimeout="{{ section.settings.time }}000" 
          data-loop="true" 
          data-margin="{{ section.settings.spacing }}" 
          data-dots="false" 
          data-nav="false" 
          data-items="{{ section.settings.number_lg }}" 
          data-items_tablet="{{ section.settings.number_md }}" 
          data-items_mobile="{{ section.settings.number_sm }}" 
          data-center="false" 
          data-start="0"
          {% if section.settings.s_nav == true %}data-custnav{% endif %}
          >
          {% for block in section.blocks %}
            <div class="text-slider__item text-center"> 
              <div class="bl_t">
                {% if block.settings.title != blank %}
                  <div class="title mb-0">{{ block.settings.title }}</div>
                {% endif %}
                {% if block.settings.desc != blank %}
                  <div class="mt-5">{{ block.settings.desc }}</div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if section.blocks.size == 0 %}
        {% include 'no-blocks' %}
      {% endif %}
      {% if section.settings.s_nav %}
        <div class="bl_nav_cust d-none d-md-block">
          <div class="next_custom">{% include 'arrow-right' %}</div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Vinova Text Slider",
    "class": "section-slider-text wow fadeInUp animated",
    "settings": [
      {
        "type": "header",
        "content": "Slider options"
      },
      {
        "type": "checkbox",
        "id": "auto",
        "label": "Auto play slider"
      },
      {
        "type": "range",
        "id": "time",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Time auto play (seconds)",
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "s_nav",
        "label": "Show navigation"
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing image items",
        "default": "0",
        "options": [
        {
          "label": "0px",
          "value": "0"
        },
        {
          "label": "5px",
          "value": "5"
        },
        {
          "label": "10px",
          "value": "10"
        },
        {
          "label": "15px",
          "value": "15"
        },
        {
          "label": "20px",
          "value": "20"
        },
        {
          "label": "25px",
          "value": "25"
        },
        {
          "label": "30px",
          "value": "30"
        }
        ]
      },
      {
        "type": "header",
        "content": "Image per row"
      },
      {
        "type": "range",
        "id": "number_lg",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Image items per row desktop",
        "default": 1,
        "info": "Breakpoint 992px ↑"
      },
      {
        "type": "range",
        "id": "number_md",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Image items per row tablet",
        "default": 1,
        "info": "Breakpoint 768px ↑"
      },
      {
        "type": "range",
        "id": "number_sm",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Image items per row mobile",
        "default": 1,
        "info": "Breakpoint 767px ↓"
      },
      {
        "type": "header",
        "content": "Design option"
      },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full width",
        "default": false
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top spacing section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom spacing section",
        "default": "30px"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "desc",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Text Slider",
        "category": "Text",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
  }
</style>
