{% if section.settings.title != blank %}
  <div class="block-size_guide">
    <div class="title_block">
      <span>{{ section.settings.title | escape }}</span>
    </div>
    {% if section.settings.subheading != blank %}
    <span class="sub_title">{{ section.settings.subheading | escape }}</span>
    {% endif %}
  </div>
{% endif %}


<div class="list-item-chart">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#Tab1">women's sizes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Tab2">men's sizes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Tab3">kid's sizes</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="chart-size tab-pane active" id="Tab1">
      <div class="title_tb_chart">Menswear Body Measurements</div>
      <table width="535" style="height:192px;" class="list-item-1">
        <tbody>
          <tr class="tr_chart">
            <td></td>
            <td>XS</td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td>XL</td>
            <td>XXL</td>
          </tr>
          <tr class="tr_chart">
            <td>Australian size</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
          </tr>
          <tr class="tr_chart">
            <td>UK Size</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
          </tr>
          <tr class="tr_chart">
            <td>European Size</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
          </tr>
          <tr class="tr_chart">
            <td>European Size</td>
            <td>4</td>
            <td>6</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
          </tr>
          <tr class="tr_chart">
            <td>Bust (cm)</td>
            <td>81</td>
            <td>86</td>
            <td>91</td>
            <td>96</td>
            <td>103</td>
            <td>110</td>
          </tr>
          <tr class="tr_chart">
            <td>Waist (cm)</td>
            <td>64</td>
            <td>69</td>
            <td>74</td>
            <td>79</td>
            <td>86</td>
            <td>93</td>
          </tr>
          <tr class="tr_chart">
            <td>Hip (cm)<span> </span></td>
            <td>92</td>
            <td>97</td>
            <td>102</td>
            <td>107</td>
            <td>114</td>
            <td>121</td>
          </tr>
          <tr class="tr_chart">
            <td>Inseam-pant (cm)</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
          </tr>
          <tr class="tr_chart">
            <td>Inseam - 3/4 pant (cm)</td>
            <td>51.5</td>
            <td>51.5</td>
            <td>51.5</td>
            <td>51.5</td>
            <td>51.5</td>
            <td>51.5</td>
          </tr>
        </tbody>
      </table>
      <div class="title_tb_chart">Womens Footwear</div>
      <table width="528" style="height:97px;" class="list-item-2">
        <tbody>
          <tr class="tr_chart">
            <td></td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td>XL</td>
          </tr>
          <tr class="tr_chart">
            <td>Australian size</td>
            <td>5 - 6</td>
            <td>7 - 8</td>
            <td>9 - 10</td>
            <td>11+</td>
          </tr>
          <tr class="tr_chart">
            <td>UK Size</td>
            <td>3 - 4</td>
            <td>5 - 6</td>
            <td>7 - 8</td>
            <td>9+</td>
          </tr>
          <tr class="tr_chart">
            <td>European Size</td>
            <td>36 - 37</td>
            <td>38 - 39</td>
            <td>40 - 41</td>
            <td>42+</td>
          </tr>
          <tr class="tr_chart">
            <td>US Size<span> </span></td>
            <td>5 - 6</td>
            <td><span>7 - 8</span></td>
            <td>9 - 10</td>
            <td>11+</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="chart-size tab-pane fade" id="Tab2">
      <div class="title_tb_chart">Womens Footwear</div>
      <table width="528" style="height:97px;">
        <tbody>
          <tr class="tr_chart">
            <td></td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td>XL</td>
          </tr>
          <tr class="tr_chart">
            <td>Australian size</td>
            <td>5 - 6</td>
            <td>7 - 8</td>
            <td>9 - 10</td>
            <td>11+</td>
          </tr>
          <tr class="tr_chart">
            <td>UK Size</td>
            <td>3 - 4</td>
            <td>5 - 6</td>
            <td>7 - 8</td>
            <td>9+</td>
          </tr>
          <tr class="tr_chart">
            <td>European Size</td>
            <td>36 - 37</td>
            <td>38 - 39</td>
            <td>40 - 41</td>
            <td>42+</td>
          </tr>
          <tr class="tr_chart">
            <td>US Size<span> </span></td>
            <td>5 - 6</td>
            <td><span>7 - 8</span></td>
            <td>9 - 10</td>
            <td>11+</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="chart-size tab-pane fade" id="Tab3">
      <div class="title_tb_chart">Menswear Body Measurements</div>
      <table width="535" style="height:192px;">
        <tbody>
          <tr class="tr_chart">
            <td></td>
            <td>XS</td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td>XL</td>
            <td>XXL</td>
          </tr>
          <tr class="tr_chart">
            <td>Australian size</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
          </tr>
          <tr class="tr_chart">
            <td>UK Size</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
          </tr>
          <tr class="tr_chart">
            <td>European Size</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
          </tr>
          <tr class="tr_chart">
            <td>European Size</td>
            <td>4</td>
            <td>6</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
          </tr>
          <tr class="tr_chart">
            <td>Bust (cm)</td>
            <td>81</td>
            <td>86</td>
            <td>91</td>
            <td>96</td>
            <td>103</td>
            <td>110</td>
          </tr>
          <tr class="tr_chart">
            <td>Waist (cm)</td>
            <td>64</td>
            <td>69</td>
            <td>74</td>
            <td>79</td>
            <td>86</td>
            <td>93</td>
          </tr>
          <tr class="tr_chart">
            <td>Hip (cm)<span> </span></td>
            <td>92</td>
            <td>97</td>
            <td>102</td>
            <td>107</td>
            <td>114</td>
            <td>121</td>
          </tr>
          <tr class="tr_chart">
            <td>Inseam-pant (cm)</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
          </tr>
          <tr class="tr_chart">
            <td>Inseam - 3/4 pant (cm)</td>
            <td>51.5</td>
            <td>51.5</td>
            <td>51.5</td>
            <td>51.5</td>
            <td>51.5</td>
            <td>51.5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="detail_chart">
  {% if section.settings.image_detail_chart != blank %}
  <div class="detail_chart_img">
    <img class="lazyload" data-src="{{ section.settings.image_detail_chart | img_url: '154x560' }}" alt="Image Detail Chart">
  </div>
  {% endif %}

  <div class="list-detail">
    {% for block in section.blocks %}
      <div class="detail-info">
        <div class="title-detail"><span>{{ forloop.index }}.</span> {{ block.settings.title_detail }}</div>
        <div class="desc-detail">{{ block.settings.desc_detail }}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "vinova page size guide",
    "class": "index-section page-size_guide",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub heading"
      },
      {
        "type": "image_picker",
        "id": "image_detail_chart",
        "label": "Image detail chart"
      }
    ],
    "blocks": [
      {
        "type": "detail_chart",
        "name": "Detail chart",
        "settings": [
          {
            "type": "text",
            "id": "title_detail",
            "label": "Title detail",
            "default": "SLEEVE"
          },
          {
            "type": "text",
            "id": "desc_detail",
            "label": "Desc detail",
            "default": "Measure from shoulder tip to cuff with a gentle bend in the arm."
          }
        ]
      }
    ]
  }
{% endschema %}