{% case section.settings.grid_number %}
  {% when 1 %}
    {%- assign grid_width_xl = 'col-xl-12' -%}
  {% when 2 %}
    {%- assign grid_width_xl = 'col-xl-6' -%}
  {% when 3 %}
    {%- assign grid_width_xl = 'col-xl-4' -%}
  {% when 4 %}
    {%- assign grid_width_xl = 'col-xl-3' -%}
  {% when 5 %}
    {%- assign grid_width_xl = 'col-xl-cus-5' -%}
  {% when 6 %}
    {%- assign grid_width_xl = 'col-xl-2' -%}
{% endcase %}
{% case section.settings.grid_number_lg %}
  {% when 1 %}
    {%- assign grid_width_lg = 'col-lg-12' -%}
  {% when 2 %}
    {%- assign grid_width_lg = 'col-lg-6' -%}
  {% when 3 %}
    {%- assign grid_width_lg = 'col-lg-4' -%}
  {% when 4 %}
    {%- assign grid_width_lg = 'col-lg-3' -%}
  {% when 5 %}
    {%- assign grid_width_lg = 'col-lg-cus-5' -%}
  {% when 6 %}
    {%- assign grid_width_lg = 'col-lg-2' -%}
{% endcase %}
{% case section.settings.grid_number_md %}
  {% when 1 %}
    {%- assign grid_width_md = 'col-md-12' -%}
  {% when 2 %}
    {%- assign grid_width_md = 'col-md-6' -%}
  {% when 3 %}
    {%- assign grid_width_md = 'col-md-4' -%}
  {% when 4 %}
    {%- assign grid_width_md = 'col-md-3' -%}
  {% when 5 %}
    {%- assign grid_width_md = 'col-md-cus-5' -%}
  {% when 6 %}
    {%- assign grid_width_md = 'col-md-2' -%}
{% endcase %}
{% case section.settings.grid_number_sm %}
  {% when 1 %}
    {%- assign grid_width_sm = 'col-sm-12' -%}
  {% when 2 %}
    {%- assign grid_width_sm = 'col-sm-6' -%}
  {% when 3 %}
    {%- assign grid_width_sm = 'col-sm-4' -%}
  {% when 4 %}
    {%- assign grid_width_sm = 'col-sm-3' -%}
  {% when 5 %}
    {%- assign grid_width_sm = 'col-sm-cus-5' -%}
  {% when 6 %}
    {%- assign grid_width_sm = 'col-sm-2' -%}
{% endcase %}
<div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}">
  {% if section.settings.has_fullwidth == false %}
    <div class="container">
  {% endif %}
    {% if section.settings.title != blank %}
      <div class="{{ section.settings.title_alignment }}">
        <div class="title_block mb-40">
          <span><i class="fa fa-instagram" aria-hidden="true"></i>{{ section.settings.title }}</span>
          {% if section.settings.subheading != blank %}
            <span class="sub_title mt-0 mb-5">{{ section.settings.subheading }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="row spacing-0">
      {% for block in section.blocks %}
        {% if block.type == 'image' %}
          <div class="{{ grid_width_xl }} {{ grid_width_lg }} {{ grid_width_md }} {{ grid_width_sm }} col-6">
            <div class="card_gallery">
              <a href="{{ block.settings.image | img_url: '1200x' }}" data-fancybox="gallery">
                {% if block.settings.image != blank %}
                  <div class="respone_image" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
                    {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img class="lazyload"
                      src="{{ block.settings.image | img_url: '600x' }}"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image.alt | escape }}">
                  </div>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                {% else %}
                  <img src="https://via.placeholder.com/600x" alt="">
                {% endif %}
              </a>
            </div>
          </div>
        {% endif %}
        {% if block.type == 'title' %}
          <div class="bl_tt {{ grid_width_xl }} {{ grid_width_lg }} {{ grid_width_md }} {{ grid_width_sm }} col-6 d-flex align-items-center justify-content-center{% if block.settings.class %} {{ block.settings.class }}{% endif %}"{% if block.settings.background != blank %} style="background-image: url({{ block.settings.background | img_url: '400x'}});"{% endif %}>
            <div class="text-center">
              <i class="fa fa-instagram mb-25" aria-hidden="true"></i>
              <div class="title_block mb-5"><span>{{ block.settings.title }}</span></div>
              <div class="stt">{{ block.settings.stitle }}</div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% if section.settings.has_fullwidth == false %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Gallery Instagram",
  "class": "index-section section-gallery-ins wow fadeInUp animated",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Vinova Gallery Instagram"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub heading"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title alignment",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type":  "header",
      "content": "Image item per row"
    },
    {
      "type": "range",
      "id": "grid_number",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Images per row large desktop",
      "default": 3,
      "info": "Breakpoint 1200px ↑"
    },
    {
      "type": "range",
      "id": "grid_number_lg",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Images per row desktop",
      "default": 3,
      "info": "Breakpoint 1199px ↓"
    },
    {
      "type": "range",
      "id": "grid_number_md",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Images per row tablet",
      "default": 3,
      "info": "Breakpoint 991px ↓"
    },
    {
      "type": "range",
      "id": "grid_number_sm",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Images per row mobile",
      "default": 2,
      "info": "Breakpoint 767px ↓"
    },
    {
      "type": "header",
      "content": "Design options"
    },
    {
      "type": "checkbox",
      "id": "has_fullwidth",
      "label": "Full width",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colors"
    },
    {
      "type": "text",
      "id": "class",
      "label": "Class"
    },
    {
      "type": "text",
      "id": "distance_top",
      "label": "Top spacing section",
      "default": "30px"
    },
    {
      "type": "text",
      "id": "distance_bottom",
      "label": "Bottom spacing section",
      "default": "30px"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "stitle",
          "label": "Sub title"
        },
        {
          "type": "image_picker",
          "id": "background",
          "label": "Background image"
        },
        {
          "type": "text",
          "id": "class",
          "label": "Class"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vinova Gallery Instagram",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
  }
</style>