{% if section.settings.has_fullwidth == false %}
  <div class="container">
{% else %}
  <div class="container-fluid">
{% endif %}
  <div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}">
    {% if section.settings.title != blank %}
      <div class="{{ section.settings.title_alignment }}">
        <div class="title_block">
          {% if section.settings.subheading != blank %}
            <span class="sub_title mt-0 mb-10">{{ section.settings.subheading }}</span>
          {% endif %}
          <span>{{ section.settings.title }}</span>
        </div>
      </div>
    {% endif %}
    <div class="block_section">
      <div class="row spacing-0">
        <div class="col-sm-6">
          <div class="nov-slick-for grid--view-items" data-dots="{{ section.settings.show_dot }}" data-nav="{{ section.settings.show_nav }}">
            {% for block in section.blocks %}
              {% assign product = all_products[block.settings.product_handle] %}
              {% assign variantCount = product.variants | size %}
              {% if product != empty %}
              <div class="item">
                <div class="item-product text-center">
                  {% assign variantCount = product.variants | size %}
                  <div class="thumbnail-container{% if product.images.size > 1 %} has-multiimage{% endif %}">
                    <a href="{{ product.url | within: collection }}">
                      <div class="respone_image" style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%">
                        {% assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        <noscript>
                          <img class="img-fluid product__thumbnail lazyload" data-src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
                        </noscript>
                        <img class="product__thumbnail lazyload"
                          src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                          alt=""
                          data-src="{{ img_url }}"
                          data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                          data-sizes="auto"
                          data-image>
                        {% for image in product.images %}
                          {% assign img_second = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                          {% if forloop.first != true %}
                            <img id="{{ img_id }}"
                              class="img-fluid product__thumbnail-second lazyload"
                              src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 19'%3E%3C/svg%3E"
                              data-src="{{ img_second }}"
                              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ image.aspect_ratio }}"
                              data-sizes="auto"
                              alt=""
                              data-image>
                              {% break %}
                          {% endif %}
                        {% endfor %}
                      </div>
                    </a>
                    
                    <div class="badge_sale">
                      {% if product.compare_at_price > product.price %}
                      <span class="badge badge--sale-pt">{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round: 4 }}% {{ 'products.product.off' | t }}</span>
                      {% endif %}
                    </div>

                    <div class="group-buttons buttons-product-item">
                      {% if settings.quickview_enable %}
                        {% include 'nov-quickview' %}
                      {% endif %}
                      {% if settings.wishlist_enable %}
                        {% include 'nov-wishlist' %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="product__info">
                    <div class="product__title">
                      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                    </div>
                    <div class="product__price{% if settings.show_rating == false %} pb-20{% endif %}">
                      {% include 'product-price' %}
                    </div>
                  </div>
                  {% include 'group_buttons' %}
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="nov-slick-nav h-100">
            {% for block in section.blocks %}
              <div class="image h-100" style="background-image: {% if block.settings.image != blank %}url({{ block.settings.image | img_url: '960x' }}{% else %}https://via.placeholder.com/600x);{% endif %}">
                {% if block.settings.image != blank %}
                  <img class="w-100 d-sm-none" src="{{ block.settings.image | img_url: '400x' }}" alt="">
                {% else %}
                  <img class="w-100 d-sm-none" src="https://via.placeholder.com/600x" alt="">
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Vinova Product Deals",
  "class": "index-section section-product-deals wow fadeInUp animated",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Vinova Product Deals"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub heading"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title alignment",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slider options"
    },
    {
      "type": "checkbox",
      "id": "show_dot",
      "label": "Show dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "Show navigation",
      "default": true
    },
    {
      "type": "header",
      "content": "Design options"
    },
    {
      "type": "checkbox",
      "id": "has_fullwidth",
      "label": "Full width",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colors"
    },
    {
      "type": "text",
      "id": "class",
      "label": "Class"
    },
    {
      "type": "text",
      "id": "distance_top",
      "label": "Top spacing section",
      "default": "30px"
    },
    {
      "type": "text",
      "id": "distance_bottom",
      "label": "Bottom spacing section",
      "default": "30px"
    }
  ],
  "blocks": [
    {
      "type": "productcountdownlist",
      "name": "Product Item",
      "settings": [
        {
          "type": "product",
          "id": "product_handle",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Countdown time"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vinova Product Deals",
      "category": "Collection"
    }
  ]
}
{% endschema %}
<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
  }
  {% if section.settings.background_color != blank %}
    #shopify-section-{{ section.id }} .block_section {
      background-color: {{ section.settings.background_color }};
    }
  {% endif %}
  #shopify-section-{{ section.id }} .text_bottom {
    background-color: {{ section.settings.background_bt }};
    color: {{ section.settings.color_bt }};
  }
</style>