{% comment %}
The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}

{% include 'nov-breadcrumb' %}
<div class="page-width">
	<div class="container">
		{% paginate blog.articles by 4 %}
		<div class="blog--list blog--column-view">
			<div class="title_block">{{ blog.title }}</div>
			<div class="row">
				{% for article in blog.articles %}
				<div class="article--listing col-xl-6 col-lg-6 mb-30">
					<div class="block_content">
						<div class="article__image mb-30">
							{% if article.image %}
							<a href="{{ article.url }}" class="article__list-image-container">
								<img class="article__list-image lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" data-src="{{ article.image | img_url: '870x495', crop: 'center' }}">
							</a>
							{% endif %}
						</div>
						<div class="article-body text-center">
							<h2 class="article__title"><a href="{{ article.url }}">{{ article.title }}</a></h2>

							<div class="article__excerpt">
								{% if article.excerpt.size > 0 %}
								{{ article.excerpt | strip_html | truncate: 180 }}
								{% else %}
								{{ article.content | strip_html | truncate: 180 }}
								{% endif %}
							</div>
							<a href="{{ article.url }}" class="btn">{{ 'blogs.article.readmore' | t }}</a>

							<div class="article__info">
								<span class="article__date">
									<i class="zmdi zmdi-calendar-note"></i>{{ article.published_at | time_tag: format: 'month_day_year' }}
								</span>

								<span class="article__author"><i class="zmdi zmdi-account"></i>{{ article.author }}</span>

								{% if blog.comments_enabled? %}
								<span class="article__countcomment">
									<i class="zmdi zmdi-comments"></i>{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
								</span>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			{% if paginate.pages > 1 %}
			<div class="nov-pagination d-flex align-items-center justify-content-center">
				{% include 'pagination' %}
			</div>
			{% endif %}
		</div>
		{% endpaginate %}
	</div>
</div>