{% assign variantCount = product.variants | size %}
{% if product.available %}
  <form class="formAddToCart buttons-product-item" action="/cart/add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
    {% if variantCount > 1 %}
      <a class="btn btnAddToCart btnChooseVariant" href="javascript:void(0);" data-url="{{ product.handle }}"
        {% if settings.tooltip_enable %} data-toggle="tooltip" data-placement="top" {% endif %} title="" tabindex="0">
        {{ 'products.product.select_options' | t }}
      </a>
    {% else %}
      <button class="btn btnAddToCart" type="submit" value="Submit" data-handle="{{ product.handle }}" data-pid="{{ product.variants.first.id }}"{% if settings.tooltip_enable %} data-toggle="tooltip" data-placement="top"{% endif %} title="" tabindex="0">
        {%- assign current_variant = product.selected_or_first_available_variant -%}
        {% if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity < 1 %}
          {{ 'products.product.pre_order' | t }}
        {% else %}
          {{ 'products.product.add_to_cart' | t }}
        {% endif %}
      </button>
    {% endif %}
  </form>
  
{% else %}
  <div class="btn btnsold_out sold_out d-inline-flex align-items-center justify-content-center" data-toggle="modal" data-target="#Form_newletter">
    <span class="note align-items-center">
      <i class="zmdi zmdi-email"></i>
      <span class="d-none d-sm-inline-block">{{ "products.product.notify_me" | t }}</span>
    </span>
  </div>
{% endif %} 