{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}
{% capture variantsswatch %} {% endcapture %}
{% capture variantsswatch %}{{ nov-swatch }}{% endcapture %}
{% if nov-swatch == blank %}
    <div class="swatch error">
        <p>You must include the snippet nov-swatch.liquid with the name of a product option.</p> 
        <p>Use: <code>{% raw %}{% include 'nov-swatch' with 'name of your product option here' %}{% endraw %}</code></p>
        <p>Example: <code>{% raw %}{% include 'nov-swatch' with 'Color' %}{% endraw %}</code></p>
    </div>
{% else %}
    {% assign found_option = false %}
    {% assign is_color = false %}
    {% assign option_index = 0 %}
    {% assign indexChild = 0 %}

    {% for option in product.options %}
        {% if option == nov-swatch %}
            {% assign found_option = true %}
            {% assign option_index = forloop.index0 %}
            {% assign indexChild = forloop.index %}
            <style rel="stylesheet" type="text/css" >
                .selectorVariants .selector-wrapper:nth-child({{ indexChild }}){display: none;}
            </style>
            {% assign downcased_option = nov-swatch | downcase %}
            {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
                {% assign is_color = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% unless found_option %}
        
    {% else %}
        {%- assign current_variant = product.selected_or_first_available_variant -%}
        <div class="swatch clearfix" data-option-index="{{ option_index }}">
            <div class="watch_availabel">
              <div class="header">{{ variantsswatch }}: <span class="variant_current">{{ current_variant.options[option_index] }}</span></div>
                <div class="swatch_filter">
                    {% assign values = '' %}
                    {% for variant in product.variants %}
                        {% assign value = variant.options[option_index] %}
                        {% unless values contains value %}
                            {% assign values = values | join: ',' %}
                            {% assign values = values | append: ',' | append: value %} 
                            {% assign values = values | split: ',' %}
                            <div data-value="{{ value | escape }}" class="swatch-element{% if forloop.first %} act{% endif %} {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %} {% if variant.available %}varant_available{% else %}varant_soldout{% endif %}" data-id="{{ variant.id }}">
                                {% if is_color %}
                                    <div class="tooltip">{{ value }}</div>
                                {% endif %}
                                    <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" data-sku="{{ variant.sku }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
                                {% if is_color %}
                                    <label class="color_img" for="swatch-{{ option_index }}-{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}">
                                        <span class="name_color">{{ value }}</span>
                                        <img class="crossed-out" alt="" src="{{ 'soldout.png' | asset_url }}" />
                                        <img class="img-variant" src="{{ variant.image.src | img_url: '40x40', crop: 'center' }}" data-img_src="{{ variant.image.src }}">
                                    </label>
                                {% else %}
                                    <label for="swatch-{{ option_index }}-{{ value | handle }}">
                                <span>{{ value }}</span>
                                <span class="crossed-email"><i class="zmdi zmdi-email"></i></span>
                                    </label>
                                {% endif %}
                            </div>
                        {% endunless %}
                        {% if variant.available %}
                            <script>
                                jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                            </script>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endunless %}
{% endif %}