<div id="Size_chart" class="form-vertical modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header position-initial">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="zmdi zmdi-hc-fw zmdi-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="single__tabs">
          <div class="block_nav d-flex align-items-center">
            <ul class="nav nav-tabs">
              {% if settings.size_women != blank %}
                <li><a class="active" href="#womenTabs1" data-toggle="tab">{{ 'products.size_chart.for_women' | t }}</a></li>
              {% endif %}
              {% if settings.size_men != blank %}
                <li><a href="#menTabs2" data-toggle="tab">{{ 'products.size_chart.for_men' | t }}</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="tab-content">
            {% if settings.size_women != blank %}
              <div class="tab-pane active" id="womenTabs1">
                <div class="block_img">
                  <div class="respone_image" style="padding-top:{{ 1 | divided_by: settings.size_women.aspect_ratio | times: 100}}%;">
                    {% assign img_url = settings.size_women | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img class="row__image lazyload"
                      src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 14'%3E%3C/svg%3E"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                      data-aspectratio="{{ settings.size_women.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ settings.size_women.alt | escape }}">
                  </div>
                </div>
              </div>
            {% endif %}
            {% if settings.size_men != blank %}
              <div class="tab-pane" id="menTabs2">
                <div class="block_img">
                  <div class="respone_image" style="padding-top:{{ 1 | divided_by: settings.size_men.aspect_ratio | times: 100}}%;">
                    {% assign img_url = settings.size_men | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img class="row__image lazyload"
                      src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 14'%3E%3C/svg%3E"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                      data-aspectratio="{{ settings.size_men.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ settings.size_men.alt | escape }}">
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>