<div class="TopContent">
  <div class="container-1800 product-single">
    <div class="product-single__photos">
      {% if product.images.size > 0 %}
        <div id="productThumbs">
          <div class="thumblist" data-pswp-uid="1">
            <div class="owl-carousel owl-theme" data-autoplay="false" data-autoplaytimeout="6000" data-items="3" data-items_tablet="3" data-items_mobile="2" data-margin="15" data-nav="false" data-dots="true" data-loop="true" data-center="false">
              {% for image in product.images %}
                <div class="thumbItem" data-image-id="{{ image.id }}" data-position="{{ forloop.index | minus: 1 }}">
                  <a href="javascript:void(0)" data-image="{{ image.src | img_url: product_image }}" class="product-single__thumbnail">
                    <img class="w-100 {% if section.settings.enable_zoom == true %} image-zoom{% endif %}" src="{{ image.src | img_url: '2000x' }}" alt="{{ image.alt | escape }}" data-zoom="{{ image.src | img_url: '1024x', scale: 2 }}">
                  </a>
                </div>
              {% endfor %}
              {%- for media in product.media -%}
                {% case media.media_type %}
                {% when 'external_video' %}
                <div class="Item embed-responsive embed-responsive-16by9" data-position="{{ forloop.index }}">
                  {{ media | external_video_tag }}
                </div>
                {% when 'video' %}
                <div class="Item" data-position="{{ forloop.index }}">
                  {{ media | video_tag: controls: true, image_size: "1024x", autoplay: true, loop: true }}
                </div>
                {% when 'model' %}
                <div class="Item" data-position="{{ forloop.index }}">
                  {{ media | model_viewer_tag }}
                </div>
                {% endcase %}
              {%- endfor -%}
            </div>
          </div> 
        </div>
      {% endif %}    
    </div>
    <div class="block_information text-center">
      <div class="info_content">
        <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>
        <div class="product-single__meta">
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
            <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
              {% if current_variant.compare_at_price > current_variant.price %}
                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" class="money mr-10">
                    {{ current_variant.price | money }}
                  </span>
                  <span class="money product-price__sale-label product-price__sale-label-{{ section.id }} d-none">{{ 'products.product.on_sale' | t }}</span>
                </span>
                <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
              {% else %}
                <span class="product-price__price product-price__price-{{ section.id }}">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" class="money mr-10">
                    {{ current_variant.price | money }}
                  </span>
                  <span class="money product-price__sale-label product-price__sale-label-{{ section.id }} d-none">{{ 'products.product.on_sale' | t }}</span>
                </span>
                <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
              {% endif %}
            </p>
            {% if settings.show_rating %}
              <div class="group-reviews has-border">
                <div class="detail-reviews">
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
              </div>
            {% endif %}
            {% if section.settings.show_des %}
              <div class="product-single__shortdes" itemprop="description">
                {{ product.description | strip_html | truncatewords: 30}}
              </div>
            {% endif %}
            {% if section.settings.show_available %}
              {% unless product.available %}
                <div class="available_product d-flex align-items-center">
                  <div class="available_name control-label">
                    {{ "products.product.available" | t }}
                  </div>
                  <span class="product__available sold-out">
                    <span>{{ "products.product.sold_out" | t }}</span>
                    <i class="fa fa-ban" aria-hidden="true"></i>
                  </span>
                </div>
              {% else %}
                <div class="available_product d-flex align-items-center">
                  <div class="available_name control-label">
                    {{ "products.product.available" | t }}
                  </div>
                  <span class="product__available in-stock">
                    <span>{{ "products.product.in_stock" | t }}</span>
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                  </span>
                </div>
              {% endunless %}
            {% endif %}
            <div class="group-single__items has-border">
              {% if section.settings.show_tags %}
                <p itemprop="tags" class="product-single__tags">
                  <span class="label control-label">{{ 'products.product.lable_tags' | t }}:</span>
                  <span class="list-tags">
                    {% for tag in product.tags %}
                      {% if tag != 'upsell' %}
                        {% capture url %}/collections/all/{{ tag | handle }}{% endcapture %}
                        {% if forloop.last == true %}
                          {{ tag | link_to: url }}
                        {% else %}
                          {{ tag | link_to: url }},
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </span>
                </p>
              {% endif %}
              {% if section.settings.show_sku %}
                <p itemprop="sku" class="product-single__sku">
                  <span class="label control-label">{{ 'products.product.lable_sku' | t }}:</span>
                    <span id="variantSku" class="label-sku">{{ current_variant.sku }}</span>
                </p>
              {% endif %}
              {% if section.settings.show_categories %}
                <p itemprop="cat" class="product-single__cat">
                  <span class="label control-label">{{ 'products.product.lable_category' | t }}:</span>
                  <span class="label-cate">
                    {% for collection in product.collections %}
                      {% if forloop.last == true %}
                        <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a>
                      {% else %}
                        <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }},</a>
                      {% endif %}
                    {% endfor %}
                  </span>
                </p>
              {% endif %}
              {% if section.settings.show_vendor %}
                <p itemprop="brand" class="product-single__vendor">
                  <span class="label control-label">{{ 'products.product.lable_vendor' | t }}:</span>
                  <span class="label-vendor">{{ product.vendor }}</span>
                </p>
              {% endif %}
            </div>
          </div>
        </div>
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="product-form-{{ section.id }}" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}"> 
          <input id="variant_id" type="hidden" name="id" value="{{current_variant.id}}" />
          <div class="items_var">
            {%- unless product.has_only_default_variant -%}
              {%- if section.settings.product_swatch_enable -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                  {%- for option in product.options_with_values -%}
                    <fieldset class="js product-form__input d-flex flex-wrap justify-content-center align-items-center variant-{{ option.name }} mb-25" data-option-index="{{forloop.index0}}">
                      {% assign option_index = forloop.index0 %}
                      <legend class="form__label">{{ option.name }}: <span class="variant_current">{{ current_variant.options[option_index] }}</span></legend>
                      {%- for value in option.values -%}
                        <div class="mb-10">
                          <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                            name="{{ option.name }}"
                            value="{{ value | escape }}"
                            form="product-form-{{ section.id }}"
                            {% if option.selected_value == value %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"{% if option.name == 'Color' %} style="background-image: url({% for variant in product.variants %}
                            {% if variant.title contains value %}
                              {{ variant.image.src | img_url: '40x40', crop: 'center' }}">
                            {% endif %}
                          {% endfor %})"{% endif %}>
                            {{ value }}
                          </label>
                        </div>
                      {%- endfor -%}
                      {% if section.settings.show_size_chart and option.name == 'Size' %}
                        <div class="size_chart d-flex align-items-end" data-toggle="modal" data-target="#Size_chart">
                          <i class="zmdi zmdi-ruler"></i>
                          <span>{{ 'sections.product_deals.size_chart' | t }}</span>
                        </div>
                      {% endif %}
                    </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script> 
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                      </div>
                    </div>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}
            <select id="productSelect" class="hide">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}" data-sku="{{ variant.sku }}" data-qty="{{ variant.inventory_quantity }}"{% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %}>{{ variant.title }}</option>
                {% else %}
                  <option value="{{ variant.id }}" data-sku="{{ variant.sku }}" data-qty="{{ variant.inventory_quantity }}" disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          {% if section.settings.show_notes %}
            <div class="line-item-property__field">
              <label class="label control-label" for="notes">{{ 'products.product.notes' | t }}</label>
              <textarea rows="5" id="notes" name="properties[Notes]" placeholder="Write here your notes for the order" class="mb-0"></textarea>
            </div>
          {% endif %}
          <div class="group-quantity">
            {% if section.settings.show_quantity_selector == true %}
              <span class="control-label">{{ 'products.product.quantity' | t }}</span>
            {% endif %}
            <div class="product-form__item product-form__item--quantity align-items-center mb-10">
              {% if section.settings.show_quantity_selector == true %}
                <div class="quick_view_qty mr-10">
                  <a href="javascript:void(0);" class="quick_view-qty quick_view-qty-minus">-</a>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" max="{{ current_variant.inventory_quantity }}" step="1" class="quantity-selector product-form__input" pattern="[0-9]*">
                  <a href="javascript:void(0);" class="quick_view-qty quick_view-qty-plus">+</a>
                </div>
                {% else %}
                  <input type="hidden" id="Quantity" name="quantity" value="1" min="1" max="{{ current_variant.inventory_quantity }}" step="1"pattern="[0-9]*">
              {% endif %}
            
              <div class="btn btnsold_out sold_out align-items-center justify-content-center" name="add2" data-toggle="modal" data-target="#Form_newletter" {% unless current_variant.available %}style="display: block;"{% else %}style="display: none !important;"{% endunless %}>
                <span class="note align-items-center w-100">
                  <span class="d-flex align-items-center">
                    <i class="zmdi zmdi-email"></i>
                    <span id="txt-notify">{{ "products.product.notify_me" | t }}</span>
                  </span>
                </span>
                <span class="loading d-none"><i class="fa fa-spin"></i></span>
              </div>
              <div class="product-form__item product-form__item--submit" {% unless current_variant.available == false %}style="display: block;"{% else %}style="display: none;"{% endunless %}>
                <button data-handle="{{ product.handle }}" type="submit" name="add" id="AddToCart" class="btnAddToCart btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                  {% if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity < 1 %}
                    <span id="AddToCartText">{{ 'products.product.pre_order' | t }}</span>
                  {% else %}
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                  {% endif %}
                </button>
              </div>
            </div>

            <div class="product_option_sub">
              {% if settings.payment_button_enable %}
                <div class="product-form__item product-form__item--checkout"{% if current_variant.available == false %} disabled{% endif %}>
                  {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
                  {{ form | payment_button }}
                  {% endform %}
                </div>
              {% endif %}
            </div>
            {% if section.settings.show_payments %}
              <div class="product-page-info__payments product-page-info__field  mt-40 mb-10">
                <label class="mb-6 text-uppercase">{{ section.settings.title_payments }}</label>
                <div class="payments overflow-hidden">
                  <img class="lazyload" data-src="{{ section.settings.payments | img_url: '700x' }}" alt="Payments">
                </div>
              </div>
            {% endif %}
          </div>
          <div class="items_wi_si d-flex align-items-center justify-content-center mb-0">
            {% if settings.wishlist_enable %}
              <div class="productWishList">
                <a class="wishlist btnProductWishlist d-flex align-items-center" data-icon-wishlist href="#" data-product-handle="{{ product.handle }}" data-id="{{ product.id | json }}">
                  <i class="zmdi zmdi-favorite-outline"></i>
                  <span class="wishlist-text">{{ 'products.product.wishlist' | t }}</span>
                </a>
              </div>
            {% endif %}
            {% if section.settings.show_size_chart %}
              {% if variantCount > 1 %}
                <div class="size_chart d-flex align-items-end" data-toggle="modal" data-target="#Size_chart">
                  <i class="zmdi zmdi-ruler"></i>
                  <span>{{ 'sections.product_deals.size_chart' | t }}</span>
                </div>
              {% endif %}
            {% endif %}
          </div>
          {% if section.settings.show_share %}
            <div class="productbuttons d-flex align-items-center justify-content-center">
              <span class="label control-label mb-0"><i class="zmdi zmdi-share"></i>{{ 'products.product.label_share' | t }}</span>
              <span class="items_share d-flex align-items-center">
                {% if settings.share_facebook %}
                <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}" class="btn--share share-facebook" title="{{ 'general.social.alt_text.share_on_facebook' | t }}">
                  <i class="zmdi zmdi-facebook"></i>
                  <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
                </a>
                {% endif %}

                {% if settings.share_twitter %}
                <a target="_blank" href="//twitter.com/share?text={{ article.title | url_param_escape }}&amp;url={{ shop.url | append: product.url }}" class="btn--share share-twitter" title="{{ 'general.social.alt_text.share_on_twitter' | t }}">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
                </a>
                {% endif %}

                {% if settings.share_pinterest %}
                <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: product.url }}&amp;media={{ product.featured_image | img_url: '1024x1024' }}" class="btn--share share-pinterest" title="{{ 'general.social.alt_text.share_on_pinterest' | t }}">
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                  <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
                </a>
                {% endif %}
                </div>
            {% endif %}
        </form>
      </div> 
    </div>
  </div>
  <div class="single__tab" {% if section.settings.background_color != blank %}style="background-color: {{ section.settings.background_color }};"{% endif %}>
    <div class="container">
      <div class="product-single__tabs wow fadeInUp animated">
        <div class="block_nav">
          <ul class="nav nav-tabs">
            {% if section.settings.show_description %}
              <li><a class="active" href="#proTabs1" data-toggle="tab">{{ 'products.product.tabdes' | t }}</a></li>
            {% endif %}
            {% for block in section.blocks %}
              {% if block.type == 'block_text' %}
                <li><a href="#tabCustom-{{ forloop.index }}" data-toggle="tab">{{ block.settings.custom_title }}</a></li>
              {% endif %}
              {% if block.type == 'block_img' %}
                <li><a href="#tabCustom-{{ forloop.index }}" data-toggle="tab">{{ block.settings.custom_title }}</a></li>
              {% endif %}
              {% if block.type == 'block_video' %}
                <li><a href="#tabCustom-{{ forloop.index }}" data-toggle="tab">{{ block.settings.custom_title }}</a></li>
              {% endif %}
            {% endfor %}
            {% if section.settings.show_review or settings.show_rating %}
              <li><a href="#tabreview" data-toggle="tab">{{ 'products.product.lable_review' | t }}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="tab-content">
          {% if section.settings.show_description %}
          <div class="tab-pane active" id="proTabs1">{{ product.description }}</div>
          {% endif %}
          {% if section.settings.show_review or settings.show_rating %}
            <div class="tab-pane" id="tabreview">
              <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            </div>
          {% endif %}
          {% for block in section.blocks %}
            {% if block.type == 'block_text' %}
              <div class="tab-pane" id="tabCustom-{{ forloop.index }}">
                <div class="product-description">{{ block.settings.custom_content }}</div>
              </div>
            {% endif %}
            {% if block.type == 'block_img' %}
              <div class="tab-pane" id="tabCustom-{{ forloop.index }}">
                <div class="block_img mt-20" data-toggle="modal" data-src="https://www.youtube.com/embed/N3745iSLUWU" data-target="#ImageModal">
                  <img src="{{ block.settings.custom_content | img_url: '1170x' }}" alt="img">
                </div>
                <div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="{{ block.settings.custom_content | img_url: '1170x' }}" alt="img">
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            {% endif %}

            {% if block.type == 'block_video' %}
              <div class="tab-pane" id="tabCustom-{{ forloop.index }}">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}" id="video" allowfullscreen></iframe>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>