<div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}" style="padding-top: {{ section.settings.distance_top }}; padding-bottom: {{ section.settings.distance_bottom }}">
  <div class="section-manufacture" data-section-id="{{ section.id }}" data-section-type="nov-owl">
    {% if section.settings.has_fullwidth == false %}
    <div class="container">
    {% endif %}
      {%- assign manu_limit = section.settings.limit -%}
      <div class="block_content">
        {% if section.blocks.size > 0 %}
          <div class="nov-owl-carousel owl-carousel owl-theme" 
            data-autoplay="{{ section.settings.autoplay }}" 
            data-autoplayTimeout="{{ section.settings.autoplaytimes }}" 
            data-loop="true" 
            data-margin="{{ section.settings.spacing }}" 
            data-dots="false" 
            data-nav="false" 
            data-items="{{ section.settings.number_lg }}" 
            data-items_tablet="{{ section.settings.number_md }}" 
            data-items_mobile="{{ section.settings.number_sm }}" 
            data-center="false" 
            data-start="0">
            {% for block in section.blocks %}
              <div class="manufacture__item" {{ block.shopify_attributes }}>
                {% if block.settings.link != blank %}
                  <a href="{{ block.settings.link }}" class="manufacture__link">
                {% endif %}
                {% if block.settings.image != blank %}
                  {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, 'manufacture__image' }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                {% if block.settings.link != blank %}
                  </a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if section.blocks.size == 0 %}
          {% include 'no-blocks' %}
        {% endif %}
      </div>

    {% if section.settings.has_fullwidth == false %}
    </div>
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Vinova Manufacture",
    "class": "index-section manufacture-section wow fadeInUp animated",
    "settings": [
      {
        "type":  "header",
        "content": "Item per row"
      },
      {
        "type": "range",
        "id": "number_lg",
        "min": 1,
        "max": 8,
        "step": 1,
        "label": "Items per row",
        "default": 6,
        "info": "Breakpoint 992px ↑"
      },
      {
        "type": "range",
        "id": "number_md",
        "min": 1,
        "max": 8,
        "step": 1,
        "label": "Items per row",
        "default": 6,
        "info": "Breakpoint 991px ↓"
      },
      {
        "type": "range",
        "id": "number_sm",
        "min": 1,
        "max": 8,
        "step": 1,
        "label": "Items per row",
        "default": 6,
        "info": "Breakpoint 767px ↓"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 4,
        "max": 30,
        "step": 1,
        "label": "Limit",
        "default": 8,
        "info": "Select number limit manufacture"
      },
      {
        "type":  "header",
        "content": "Slider option"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": false
      },
      {
        "type": "text",
        "id": "autoplaytimes",
        "label": "Autoplay time",
        "default": "5000"
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing items",
        "default": "0",
        "options": [
        {
          "label": "0px",
          "value": "0"
        },
        {
          "label": "5px",
          "value": "5"
        },
        {
          "label": "10px",
          "value": "10"
        },
        {
          "label": "15px",
          "value": "15"
        },
        {
          "label": "20px",
          "value": "20"
        },
        {
          "label": "25px",
          "value": "25"
        },
        {
          "label": "30px",
          "value": "30"
        }
        ]
      },
      {
        "type":  "header",
        "content": "Design option"
      },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full width",
        "default": false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top spacing section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom spacing section",
        "default": "30px"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Manufacture",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
{%- assign bg_image = section.settings.background_image -%}
{% if section.settings.background_color != blank or bg_image.src != blank %}
<style>
  #shopify-section-{{ section.id }} .distance {
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
    {% if bg_image.src != blank %}
      background-image: url("{{ bg_image | img_url: '1920x1920' }}");
    {% endif %}
  }
</style>
{% endif %}
