{%- assign collection_blog = blogs[section.settings.blog] -%}
{%- assign blog_limit = section.settings.limit -%}
<div data-section-id="{{ section.id }}" class="distance{% if section.settings.has_fullwidth == true %} full_width{% endif %}{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}"{% if section.settings.type_option == 'slider' %} data-section-type="nov-slick"{% endif %}>
  {% if section.settings.has_fullwidth == false %}
  <div class="container"> 
  {% endif %}

  <div class="block_section row align-items-center">

    {% if section.settings.title != blank %}
    <div class="{{ section.settings.title_alignment }} col-md-4">
      <div class="title_block">
        <span>{{ section.settings.title | escape }}</span>
        {% if section.settings.subheading != blank %}
          <div class="sub_title">{{ section.settings.subheading | escape }}</div>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="col-md-8">
      <div class="block_scroll">
        <div class="main-carousel" data-flickity='{"freeScroll": "true", "groupCells": 3, "pageDots": false, "prevNextButtons": false, "cellAlign": "left", "contain": true}'>
          {% for article in collection_blog.articles limit: blog_limit %}
            <div class="item">
              <div class="article--listing">
                {% if section.settings.show_image == true %}
                <div class="position-relative">
                  {% if article.image %}
                    <div class="article__list-image-container">
                      <img class="w-100" src="{{ article.image | img_url: '450x450', crop: 'center' }}" alt="{{ article.title }}">
                    </div>
                  {% endif %}
                  {% if section.settings.show_view_all == true %}
                  <a href="{{ article.url }}" class="btn btn-2 view_all">{{ 'blogs.article.readmore' | t }}</a>
                  {% endif %}
                </div>
                {% endif %}
                <div class="media-body">
                  <div class="article__info">
                    <div class="article_cs">
                      {% if section.settings.blog_show_comments %}
                      <span class="article__countcomment">
                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                      </span>
                      {% endif %}

                      {% if section.settings.blog_show_date %}
                        <span class="article__date">
                          <span class="time">{{ article.published_at | date: "%d" }} {{ article.published_at | date: "%B" }} {{ article.published_at | date: "%Y" }}</span>
                        </span>
                      {% endif %}

                      {% if section.settings.blog_show_author %}
                      <span class="article__author">
                        {{ 'blogs.article.by_author' | t: author: article.author }}
                      </span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="article__title mb-10">
                    <a href="{{ article.url }}">{{ article.title }}</a>
                  </div>
                  {% if section.settings.blog_show_excerpt %}
                  <div class="article__excerpt">
                    {% if article.excerpt.size > 0 %}
                    {{ article.excerpt | truncate: 50 }}
                    {% else %}
                    {{ article.content | strip_html | truncate: 50 }}
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% if section.settings.has_fullwidth == false %}
  </div>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Vinova Blog Slider",
    "class": "index-section nov-section-blog wow fadeInUp animated",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Vinova Blog Slider"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub heading",
        "default": "Subtitle from happy customers"
      },
      {
        "type": "select",
        "id": "title_alignment",
        "label": "Title alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 4,
        "max": 30,
        "step": 1,
        "label": "Limit",
        "default": 8,
        "info": "Select number limit post"
      },
      {
        "type":  "header",
        "content": "Blog item option"
      },
      {
        "type": "checkbox",
        "id": "show_image",
        "label": "Show image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comments",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpt",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show view more button",
        "default": false
      },
      {
        "type":  "header",
        "content": "Slider Option"
      },
      {
        "type": "checkbox",
        "id": "show_dots",
        "label": "Show dots",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_nav",
        "label": "Show navigation",
        "default": false
      },
      {
        "type":  "header",
        "content": "Design option"
      },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full width",
        "default":   false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top spacing section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom spacing section",
        "default": "30px"
      }
    ],
    "presets": [
      {
        "name": "Vinova Blog Slider",
        "category": "Blog"
      }
    ]
  }
{% endschema %}
<style>
  {%- assign bg_image = section.settings.background_image -%}
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
    {% if bg_image.src != blank %}
      background-image: url("{{ bg_image | img_url: '1920x' }}");
      background-repeat: no-repeat;
    {% endif %}
  }
</style>
