<div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}">
  {% if section.settings.has_fullwidth == false %}
    <div class="container">
  {% endif %}
    <hr class="m-0" style="border-color: {{ section.settings.color }}; border-style: {{ section.settings.style }}; opacity: {{ section.settings.opacity }}%;">
  {% if section.settings.has_fullwidth == false %}
    </div>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Vinova Line",
    "class": "index-section section-line",
    "settings": [
      {
        "type": "color",
        "id": "color",
        "label": "Colors"
      },
      {
        "type": "range",
        "id": "opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Opacity",
        "default": 100
      },
      {
        "type": "select",
        "id": "style",
        "label": "Style",
        "options": [
          {
            "value": "solid",
            "label": "Solid"
          },
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "dotted",
            "label": "Dotted"
          }
        ]
      },
      {
        "type":  "header",
        "content": "Design option"
      },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full width",
        "default":   false
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top spacing section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom spacing section",
        "default": "30px"
      }
    ],
    "presets": [
      {
        "name": "Vinova Line",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}

<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
  }
</style>