<div class="boxInformationImage wow animate__fadeInUp animate__animated">
  <div class="container">
    <div class="row text-center">
      {% if section.settings.contact != blank %}
        <div class="col-lg col-sm-6 mb-md-40">
          <div class="t_contact">{{ section.settings.t_contact }}</div>
          <div class="st_contact">{{ section.settings.st_contact }}</div>
          <div class="content">{{ section.settings.contact }}</div>
        </div>
      {% endif %}
      <div class="col-lg col-sm-6 mb-md-40">
        <div class="t_contact">{{ section.settings.t_address }}</div>
        <div class="st_contact">{{ section.settings.addr }}</div>
        <div class="content">{{ section.settings.maill }}</div>
      </div>
      {% if section.settings.time_open != blank %}
        <div class="col-lg col-sm-6 mb-xs-40">
          <div class="t_contact">{{ section.settings.t_open }}</div>
          <div class="st_contact">{{ section.settings.st_open }}</div>
          <div class="content">{{ section.settings.time_open }}</div>
        </div>
      {% endif %}
      {% if section.settings.social == true %}
        <div class="col-lg col-sm-6">
            <div class="t_contact">{{ section.settings.t_s }}</div>
            {% include 'nov-social' %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div id="MapSection--{{ section.id }}"
  class="map-section {% if display_map %}map-section--display-map{% endif %} {% if onboarding == true %}map-section--onboarding{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="map">
  <div class="page-width map-section__wrapper">
    <div class="map-section__content-wrapper"><div class="map-section__content"></div></div>
    <div class="map-section__background-wrapper">
      <div class="map-section__container">
        <iframe src="{{ section.settings.iframe_map }}" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="formContactUs wow animate__fadeInUp animate__animated">
    {% if section.settings.title_contact_message != blank %}
      <div class="contact_message"><span>{{ section.settings.title_contact_message }}</span></div>
    {% endif %}
    <div class="contact-form form-vertical">
      {% form 'contact' %}
      
      {% if form.posted_successfully? %}
      <p class="note form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
      {% endif %}
      
      {{ form.errors | default_errors }}
      
      <div class="form-group row mb-35 mb-xs-20">
        <div class="col-md-6 mb-xs-20">
          <input type="text" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" class="{% if form.errors contains 'name' %}input--error{% endif %}" placeholder="{{ 'contact.form.name' | t }}" required>
        </div>
        <div class="col-md-6">
          <input type="email" id="ContactFormEmail" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}" placeholder="{{ 'contact.form.email' | t }}" required>
        </div>
      </div>
      
      <div class="form-group row mb-35 mb-xs-20">
        <div class="col-md-12">
          <input type="tel" id="ContactFormPhone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" class="{% if form.errors contains 'phone' %}input--error{% endif %}" placeholder="{{ 'contact.form.phone' | t }}">
        </div>
      </div>
      
      <div class="form-group row mb-60">
        <div class="col-md-12">
          <textarea rows="15" cols="50" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
        </div>
      </div>
      
      <button class="btn btn_message" type="submit">
        <span>{{ 'contact.form.submit' | t }}</span>
      </button>
      
      {% endform %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Page Contact",
    "class": "index-section page-contact",
    "settings": [
      {
        "type": "header",
        "content": "Maps"
      },
      {
        "type": "text",
        "id": "iframe_map",
        "label": "Google Maps Iframe",
        "info": "You’ll need to embed the code on google map",
        "default": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4082.7742465747338!2d-79.38287617561478!3d43.64905556573276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d2a57d767f%3A0x935ab2eb9fd5fb31!2sFirst%20Canadian%20Place!5e0!3m2!1svi!2s!4v1591603052999!5m2!1svi!2s"
      },
      {
        "type": "header",
        "content": "Info"
      },
      {
        "type": "header",
        "content": "Contact"
      },
      {
        "type": "text",
        "id": "t_contact",
        "label": "Title contact",
        "default": "Call us"
      },
      {
        "type": "text",
        "id": "st_contact",
        "label": "Sub title contact",
        "default": "Send us a text & an ambassador will respond when available."
      },
      {
        "type": "text",
        "id": "contact",
        "label": "Contact",
        "default": "1-814-251-9966"
      },
      {
        "type": "header",
        "content": "Address"
      },
      {
        "type": "text",
        "id": "t_address",
        "label": "Title address",
        "default": "Address"
      },
      {
        "type": "text",
        "id": "addr",
        "label": "Address",
        "default": "PO Box 1622 Vissaosang Street West"
      },
      {
        "type": "text",
        "id": "maill",
        "label": "Maill",
        "default": "info@example.com"
      },
      {
        "type": "header",
        "content": "Open time"
      },
      {
        "type": "text",
        "id": "t_open",
        "label": "Title open",
        "default": "WE'RE OPEN"
      },
      {
        "type": "text",
        "id": "st_open",
        "label": "Sub title open",
        "default": "Our store has re-opened for shopping, exchanges"
      },
      {
        "type": "text",
        "id": "time_open",
        "label": "Open time",
        "default": "Every day 11am to 7pm"
      },
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "social",
        "label": "Show social"
      },
      {
        "type": "text",
        "id": "t_s",
        "label": "Title social",
        "default": "SOCIAL MEDIA"
      },
      {
        "type": "text",
        "id": "title_contact_message",
        "label": "Title contact message",
        "default": "Get in touch"
      }
    ]
  }
{% endschema %}
