{% if type == 'dropdown' %}
  <div class="currency-selector dropdown d-none d-md-flex align-items-center">
    {% if settings.title_currency != blank %}<div class="dropdown-label d-none d-md-block">{{ settings.title_currency }}</div>{% endif %}
    <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="current-currency"></span><span class="caret"></span>
    </div>
    <div id="_desktop_currency_selector" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% assign currency = settings.supported_currencies | split: '|' %}
      <div id="currencies">
        {% for value in currency %}
          {% assign currency_item = value | split: ',' %}
          {% assign iso = currency_item[0] | upcase | strip %}
          {% assign name = currency_item[1] | strip %}
          <span data-currency="{{ iso }}">{{ iso }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div id="_desktop_currency_selector" class="currency-selector groups-selector d-none d-md-block">
    {% if settings.title_currency != blank %}<div class="title_currency d-none d-md-block">{{ settings.title_currency }}</div>{% endif %}
    {% assign currency = settings.supported_currencies | split: '|' %}
    <ul id="currencies" class="list-inline">
      {% for value in currency %}
        {% assign currency_item = value | split: ',' %}
        {% assign iso = currency_item[0] | upcase | strip %}
        {% assign name = currency_item[1] | strip %}
        <li class="currency__item list-inline-item">
          <span data-currency="{{ iso }}">{{ iso }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
