<div class="item-product">
  {% assign variantCount = product.variants | size %}
  <div class="thumbnail-container{% if product.images.size > 1 %} has-multiimage{% endif %}{% if section.settings.show_variant_color and variantCount > 1 %} has_variants{% endif %}">
    <a href="{{ product.url | within: collection }}">
      <div class="respone_image" style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%">
        {% assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <noscript>
          <img class="img-fluid product__thumbnail lazyload" data-src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
        </noscript>
        <img class="product__thumbnail lazyload"
          src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
          alt=""
          data-src="{{ img_url }}"
          data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
          data-sizes="auto"
          data-image>
        {% for image in product.images %}
          {% assign img_second = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% if forloop.first != true %}
            <img id="{{ img_id }}"
              class="img-fluid product__thumbnail-second lazyload"
              src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 19'%3E%3C/svg%3E"
              data-src="{{ img_second }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              alt=""
              data-image>
              {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </a>

    {% if product.available and product.variants.size > 1  %}
      {% include 'nov-swatch-color' with 'Color' %}
    {% endif %}
    
    <div class="badge_sale">
      {% assign date_created = product.created_at | date:'%s' %}
      {% assign     date_now = 'now' | date:'%s' %}
      {% assign   difference = date_now | minus: date_created %}
      {% assign     date_end = settings.time_newproduct | times: 86400 %}
      {% if difference < date_end %}
        <div class="badge badge--sale-rt">{{ 'products.product.new' | t }}</div>
      {% endif %}
      {% if product.compare_at_price > product.price %}
      <span class="badge badge--sale-pt">-{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round: 4 }}%</span>
      {% endif %}
    </div>

    <div class="group-buttons buttons-product-item">
      {% if settings.quickview_enable %}
        {% include 'nov-quickview' %}
      {% endif %}
      {% if settings.wishlist_enable %}
        {% include 'nov-wishlist' %}
      {% endif %}
    </div>
  </div>
  <div class="product__info">
    <div class="product__title">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </div>
    <div class="product__price{% if settings.show_rating == false %} pb-20{% endif %}">
      {% include 'product-price' %}
    </div>
    {% if template.name != 'index' and template.name != 'collection' %}
      {% if settings.show_rating %}
        <div class="product__review">
          <div class="rating"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
        </div>
      {% endif %}
    {% endif %}
  </div>
  {% include 'group_buttons' %}
</div>